<IfModule mod_rewrite.c>
	RewriteEngine On

    # RewriteRule ^$ /web/panel/home [L,R=302]

    # RewriteCond %{HTTP:Authorization} .
    # RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d

    RewriteRule ^ignore(/.*)?$ - [L]
    RewriteRule ^libs/filemanager.php(/.*)?$ - [L]
    RewriteRule ^$ home [L,R=302]

    RewriteRule \.(?:css|js|jpe?g|gif|png|tpl)$ - [L]
    RewriteRule ^(.*)$ router.php?resource=$1 [QSA,L]

    

</IfModule>