body{
    background-color: rgba(0, 0, 0, .1);
}

.sidenav{
    height: 100vh;
    box-shadow: 0px 0px 25px #00000040;
}

main{
    height: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}