body {
    background-color: #e3e3e3 !important;
    /* background-color: #101010 !important; */
    margin-left: 280px !important;
}

.sidenav {
    height: 100vh;
    box-shadow: 0px 0px 25px #00000040;
}

main {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sidenav .logo{
    width: 100%;
}